# **Online Retail Transactions**

## Objectives

* Analyse customer behaviour and preferences, identify popular products, and optimise pricing and marketing strategies.

## Inputs

* Data Source:  https://www.kaggle.com/datasets/abhishekrp1517/online-retail-transactions-dataset/data

## Outputs

* A Jupyter Noteboo file (ETL.ipynb) to show the analysis of data
* Code that advises on how to Optimze pricing and predicts possible succesful marketing strategies

---

# Working directory

* Changed the working directory from its current folder to its parent folder


* Access the current directory with os.getcwd()

In [4]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\jeff .LAPTOP-IGU6VVPB\\Desktop\\Code institute\\vscode-projects\\hackathon 1\\retail_transaction_analysis\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [5]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [6]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\jeff .LAPTOP-IGU6VVPB\\Desktop\\Code institute\\vscode-projects\\hackathon 1\\retail_transaction_analysis'

# Data Extraction, Transformation, and Loading (ETL)

Importing packages

In [7]:
#Setting up & Importing packages

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
sns.set_style('whitegrid')
from sklearn.pipeline import Pipeline
import plotly.express as px

* Extracting the data

In [10]:
#loading the data
df = pd.read_csv('jupyter_notebooks/Online Retail.csv')
df_copy = df.copy()

---

* Cleaning the data

Section 2 content

In [11]:
df_copy.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

---

In [13]:
df_copy.isnull().sum()

InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

In [ ]:
#Fill missing Description values using StockCode group where it is possible

df_copy['Description'] = df_copy.groupby('StockCode')['Description'].transform(lambda x: x.fillna(method='ffill').fillna(method='bfill'))

C:\Users\jeff .LAPTOP-IGU6VVPB\AppData\Local\Temp\ipykernel_12404\293228325.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_copy['Description'] = df_copy.groupby('StockCode')['Description'].transform(lambda x: x.fillna(method='ffill').fillna(method='bfill'))

In [ ]:
#check if there are still missing values in Description
df_copy['Description'].isnull().sum()

112

In [ ]:
#View rows where Description is still missing
missing_description_rows = df_copy[df_copy['Description'].isnull()]
missing_description_rows

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1970,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,15287,United Kingdom
1987,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,15287,United Kingdom
1988,536550,85044,NaN,1,2010-12-01 14:34:00,0.0,15287,United Kingdom
2024,536552,20950,NaN,1,2010-12-01 14:34:00,0.0,15287,United Kingdom
2026,536554,84670,NaN,23,2010-12-01 14:35:00,0.0,15287,United Kingdom
...,...,...,...,...,...,...,...,...
280754,561498,21610,NaN,-14,2011-07-27 14:10:00,0.0,15287,United Kingdom
281615,561555,37477B,NaN,-11,2011-07-28 10:21:00,0.0,15287,United Kingdom
281616,561557,37477C,NaN,-31,2011-07-28 10:21:00,0.0,15287,United Kingdom
346849,567207,35592T,NaN,4,2011-09-19 11:01:00,0.0,15287,United Kingdom
497301,578360,84971L,NaN,2,2011-11-24 10:36:00,0.0,15287,United Kingdom

In [ ]:
#View rows with '?' in Description
df_copy[df_copy['Description'].str.contains('\?', na=False)]

<>:1: SyntaxWarning: invalid escape sequence '\?'
<>:1: SyntaxWarning: invalid escape sequence '\?'
C:\Users\jeff .LAPTOP-IGU6VVPB\AppData\Local\Temp\ipykernel_12404\3318850241.py:1: SyntaxWarning: invalid escape sequence '\?'
  df_copy[df_copy['Description'].str.contains('\?', na=False)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
7313,537032,21275,?,-30,2010-12-03 16:50:00,0.0,15287,United Kingdom
21518,538090,20956,?,-723,2010-12-09 14:48:00,0.0,15287,United Kingdom
22295,538160,20956,?,288,2010-12-09 17:18:00,0.0,15287,United Kingdom
38261,539494,21479,?,752,2010-12-20 10:36:00,0.0,15287,United Kingdom
43662,540100,22837,?,-106,2011-01-04 16:53:00,0.0,15287,United Kingdom
...,...,...,...,...,...,...,...,...
514649,579734,84859C,wet?,-153,2011-11-30 14:25:00,0.0,15287,United Kingdom
514735,579742,85204,lost??,-1131,2011-11-30 14:34:00,0.0,15287,United Kingdom
524370,580547,21201,???,-390,2011-12-05 09:29:00,0.0,15287,United Kingdom
535324,581201,22217,damages?,-155,2011-12-07 18:30:00,0.0,15287,United Kingdom
535327,581204,85104,????damages????,-355,2011-12-07 18:32:00,0.0,15287,United Kingdom

In [ ]:
#replace '?' in Description with an empty string

df_copy['Description'] = df_copy['Description'].str.replace('?', '', regex=False)

In [ ]:
#Remove rows with negative or zero Quantity

df_copy = df_copy[df_copy['Quantity'] > 0]

In [27]:
df_copy['Description'].isnull().sum()

15

In [ ]:
#Create a Pipline to replace the missing values in the Description column with 'Missing'
from feature_engine.imputation import CategoricalImputer

pipeline = Pipeline([
      ('replace description',  CategoricalImputer(imputation_method='missing',
                                                   fill_value='No Description',
                                                   variables=['Description']) )
])

#Fit and transform the pipeline on the dataframe
df_copy = pipeline.fit_transform(df_copy)

c:\Users\jeff .LAPTOP-IGU6VVPB\Desktop\Code institute\vscode-projects\hackathon 1\retail_transaction_analysis\.venv\Lib\site-packages\feature_engine\imputation\categorical.py:232: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if pd.api.types.is_categorical_dtype(X[variable]):

In [ ]:
#Check if there are still any missing values in Description
df_copy['Description'].isnull().sum()

0

---

* We want to View Data types and then change to appropriate data types for analysis

In [34]:
df_copy.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID       int64
Country         object
dtype: object

In [ ]:
#Convert InvoiceDate to datetime format and CustomerID to object type
df_copy['InvoiceDate'] = pd.to_datetime(df_copy['InvoiceDate'])

df_copy['CustomerID'] = df_copy['CustomerID'].astype(object)

# Undertsnading the data

* First we find out the Country with the Most Orders

In [ ]:
#print the Top 10 Countries with most orders
top_customers_country = df_copy['Country'].value_counts().head(10)
print(top_customers_country)

Country
United Kingdom    486286
Germany             9042
France              8408
EIRE                7894
Spain               2485
Netherlands         2363
Belgium             2031
Switzerland         1967
Portugal            1501
Australia           1185
Name: count, dtype: int64

* We check for Top Items customers are purchasing

In [ ]:
# Print descriptions and count for top 10 StockCodes

top_stockcodes = df_copy['StockCode'].value_counts().head(10).index

for code in top_stockcodes:
    count = df_copy[df_copy['StockCode'] == code].shape[0]
    descriptions = df_copy[df_copy['StockCode'] == code]['Description'].unique()
    print(f"StockCode: {code} | Count: {count}")
    print("Descriptions:", descriptions)
    print("---")

StockCode: 85123A | Count: 2270
Descriptions: ['WHITE HANGING HEART T-LIGHT HOLDER' ''
 'CREAM HANGING HEART T-LIGHT HOLDER']
---
StockCode: 85099B | Count: 2115
Descriptions: ['JUMBO BAG RED RETROSPOT']
---
StockCode: 22423 | Count: 2019
Descriptions: ['REGENCY CAKESTAND 3 TIER']
---
StockCode: 47566 | Count: 1707
Descriptions: ['PARTY BUNTING']
---
StockCode: 20725 | Count: 1595
Descriptions: ['LUNCH BAG RED RETROSPOT' 'LUNCH BAG RED SPOTTY']
---
StockCode: 84879 | Count: 1489
Descriptions: ['ASSORTED COLOUR BIRD ORNAMENT']
---
StockCode: 22197 | Count: 1426
Descriptions: ['SMALL POPCORN HOLDER' 'POPCORN HOLDER']
---
StockCode: 22720 | Count: 1401
Descriptions: ['SET OF 3 CAKE TINS PANTRY DESIGN ']
---
StockCode: 21212 | Count: 1370
Descriptions: ['PACK OF 72 RETROSPOT CAKE CASES']
---
StockCode: 20727 | Count: 1328
Descriptions: ['LUNCH BAG  BLACK SKULL.']
---

In [52]:
# Extract month from InvoiceDate and count purchases per month

df_copy['Month'] = df_copy['InvoiceDate'].dt.month
monthly_purchases = df_copy['Month'].value_counts().sort_index()
print(monthly_purchases)

Month
1     34350
2     27184
3     35915
4     29171
5     36292
6     36056
7     38716
8     34566
9     49323
10    59396
11    83498
12    66818
Name: count, dtype: int64

We can see that customers tend to make more purchases in the 4th quater of the year with Novemeber being the peak month

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)